
@{
    ViewBag.Title = "Trades";
}

<h2>Trades</h2>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Ticker</th>
            <th scope="col">Quantity</th>
        </tr>
    </thead>
    <tbody>
        <tr scope="row">
            <td>AMD</td>
            <td>10</td>
        </tr>
    </tbody>
</table>

    <form action="/Trades/create" method="POST">
        <input type="text" name="ticker"><br />
        <input type="text" name="quantity"><br />
        <input type="text" name="date_buy"><br />
        <input type="text" name="price_buy"><br />
        <input type="submit" name="submit">
    </form>
